<?xml version="1.0"?>
<ruleset name="RoRo Core">
	<description>WordPressCS rules for RoRo Core plugin.</description>

	<rule ref="WordPress" />

	<!-- Ignore build artifacts -->
	<exclude-pattern>*/blocks/*/build/*</exclude-pattern>

	<!-- Raise minimum WP version -->
	<config name="minimum_supported_wp_version" value="5.8"/>

	<!-- Show relative paths in reports -->
	<arg name="basepath" value="."/>
</ruleset>
